/* poppins-regular - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/poppins-v20-latin-regular.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
     /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/poppins-v20-latin-500.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-500.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/poppins-v20-latin-500.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg');
     /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/poppins-v20-latin-600.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-600.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/poppins-v20-latin-600.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg');
     /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/poppins-v20-latin-700.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-700.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/poppins-v20-latin-700.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
     /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 800;
     src: url('../fonts/poppins-v20-latin-800.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-800.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-800.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/poppins-v20-latin-800.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-800.svg#Poppins') format('svg');
     /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/roboto-v30-latin-regular.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/roboto-v30-latin-regular.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
     /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/roboto-v30-latin-500.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/roboto-v30-latin-500.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/roboto-v30-latin-500.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg');
     /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/roboto-v30-latin-700.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/roboto-v30-latin-700.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/roboto-v30-latin-700.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg');
     /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url('../fonts/roboto-v30-latin-900.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/roboto-v30-latin-900.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/roboto-v30-latin-900.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/roboto-v30-latin-900.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/roboto-v30-latin-900.svg#Roboto') format('svg');
     /* Legacy iOS */
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.flex {
     display: flex;
}

.space_between {
     justify-content: space-between;
}

/* ----------------------------------------First section-------------------------------------------- */
.owl-carousel img {
     height: 100vh;
     opacity: 0.7;
     position: relative;
}

.owl-theme .owl-nav {
     margin: 0;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
     height: 60px;
     width: 120px;
     background-color: rgba(100, 107, 196, 0.4) !important;
     position: absolute;
     top: calc(100vh - 55%);
     color: white !important;
     font-size: 40px !important;
     transition: 0.5s;
}

.owl-carousel .owl-nav button.owl-prev {
     left: 0px;
     border-radius: 0 30px 30px 0;
}

.owl-carousel .owl-nav button.owl-next {
     right: 0px;
     border-radius: 30px 0 0 30px;
}

.owl-carousel .owl-nav button:hover {
     background-color: rgba(22, 22, 22, 0.4) !important;
}

.owl-carousel .content {
     position: absolute;
     top: calc(100vh - 65%);
     width: 100%;
     text-align: center;
     font-family: poppins;
     color: white;
}

.owl-carousel h1 {
     font-size: 70px;
     letter-spacing: 2px;
     padding-bottom: 10px;
}

.owl-carousel p {
     font-size: 20px;
}

.owl-carousel button {
     border: none;
     font-family: poppins;
     padding: 20px 25px;
     margin-top: 40px;
     font-weight: 600;
     border-radius: 40px;
     font-size: 17px;
     color: rgb(53, 92, 192);
     background-color: white;
}

.layer {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     z-index: 1;
     background-color: rgba(22, 22, 22, 0.4);
}

.main_menu {
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 10px 100px;
     z-index: 2;
     align-items: center;
}

.main_menu .first {
     font-family: roboto;
     font-size: 60px;
     color: white;
     font-weight: 900;
}

.main_menu .second {
     font-family: roboto;
     font-size: 60px;
     color: white;
     font-weight: 100;
}

.main_menu a {
     text-decoration: none;
     color: white;
     font-family: poppins;
     font-size: 18px;
     padding-left: 15px;
     font-weight: 500;
     letter-spacing: 1px;
}

.main_menu .home {
     color: black;
     text-decoration: underline 2px solid black;
     text-underline-offset: 5px;
}

/*----------------------------------------second section--------------------------------------------*/
.second_section {
     padding: 30px;
}

.second_section h1 {
     font-family: poppins;
     font-size: 40px;
     word-spacing: 2px;
     letter-spacing: 1px;
     color: rgb(53, 92, 192);
}

.second_section hr {
     width: 70px;
     height: 7px;
     background-color: rgb(53, 92, 192) !important;
}

.second_section p {
     padding: 20px;
     font-size: 20px;
     font-family: roboto;
     line-height: 26px;
     color: rgb(109, 108, 108);
}

.second_section button {
     padding: 10px 25px;
     border-radius: 20px;
     background-color: rgb(248, 253, 254);
     color: rgb(53, 92, 192);
     border: 2px solid rgb(53, 92, 192);
     font-size: 15px;
     font-weight: 500;
}

/*----------------------------------------third section--------------------------------------------*/

.third_section .grid {
     display: grid;
     grid-template-columns: repeat(3, 33.33%);
}

.third_section .grid>center {
     height: auto;
     padding: 30px;
}

.third_section .blue {
     background-color: rgb(79, 120, 225) !important;
}

.third_section .black {
     background-color: rgb(37, 37, 37) !important;
}

.third_section i {
     color: rgb(239, 239, 239);
     font-size: 50px;
}

.third_section h1 {
     color: rgb(239, 239, 239);
     font-family: roboto;
     padding-top: 20px;
     font-size: 30px;
}

.third_section p {
     font-family: roboto;
     color: rgb(239, 239, 239);
     font-size: 17px;
     padding-top: 20px;
     line-height: 25px;
     padding-bottom: 20px;
}

/*----------------------------------------fourth section--------------------------------------------*/

.fourth_section {
     padding: 50px 100px;
}

.fourth_section h1 {
     font-family: poppins;
     font-size: 40px;
     word-spacing: 2px;
     letter-spacing: 1px;
     color: rgb(53, 92, 192);
}

.fourth_section hr {
     width: 70px;
     height: 7px;
     background-color: rgb(53, 92, 192) !important;
}

.fourth_section p {
     padding: 20px;
     font-size: 20px;
     font-family: roboto;
     line-height: 26px;
     color: rgb(109, 108, 108);
     padding-bottom: 30px;
}

.service {
     background-color: rgba(226, 226, 226, 0.4);
     display: flex;
     align-items: center;
     width: 30%;
     border-radius: 48px 0 0 48px;
}

.padding{
     padding-bottom: 30px;
}

.service i {
     color: rgb(53, 92, 192);
     border: 3px solid rgb(53, 92, 192);
     border-radius: 50%;
     padding: 20px 18px;
     font-size: 40px;
}

.service h2 {
     color: rgb(53, 92, 192);
     font-family: roboto;
     font-size: 20px;
     padding-left: 12px;
}

.service .icon{
     padding: 22px 19px;
}

/*----------------------------------------fifth section--------------------------------------------*/
.fifth_section{
     background-color: rgba(53, 92, 192,0.9);
     padding: 70px 200px;
}
.fifth_section i{
     border: 3px solid white;
     color: white;
     border-radius: 50%;
     padding:18px 20px;
     /* width: 90px;
     height: 90px; */
     font-size: 34px;
     margin-bottom: 20px;
}
.fifth_section h1{
     color: white;
     font-family: roboto;
     padding-bottom: 20px;
     font-size: 60px;
}
.fifth_section h3{
     color: white;
     font-family: roboto;
     font-weight: 400;
}

.fifth_section .icon{
     padding: 21px 18px;
}

/*----------------------------------------sixth section--------------------------------------------*/
.sixth_section{
     padding: 70px 100px;
     color: rgb(53, 92, 192);
}
.sixth_section h1{
     font-size: 37px;
     font-family: roboto;
}

.sixth_section hr {
     width: 70px;
     height: 6px;
     background-color: rgb(53, 92, 192) !important;
     margin-top: 5px;
}
.sixth_section p {
     padding: 20px;
     font-size: 20px;
     font-family: roboto;
     line-height: 26px;
     color: rgb(109, 108, 108);
     padding-bottom: 30px;
}
.sixth_section .portfolio a{
     text-decoration: none;
     font-family: roboto;
     color: rgb(53, 92, 192) ;
     font-weight: 500;
     padding-right: 12px;
     padding-top: 10px;
     font-size: 17px;     
}

.sixth_section .portfolio .underline{
     text-decoration: underline;
     text-underline-offset: 4px;
     font-size: larger;
}
.sixth_section .portfolio{
     padding-bottom: 30px;
}
.sixth_section .image img{
     width: 33%;
     height: 270px;
}